envs:
  test-ocp-cluster:
    description: Dev repo for dev/preprod clusters
    url: https://github.com/migrx-io/projectset-crs.git
    branch: main
    token: <token>
    conf_file: projectsets.yaml
  prod-ocp-cluster:
    description: Prod repo for production clusters
    url: https://github.com/migrx-io/projectset-crs.git
    branch: main  
    token: <token>
    conf_file: projectsets.yaml

auth:

  oauth:
    provider: github
    client_id: "<client_id>"
    client_secret: "<client_secret>"
    authorization_base_url: 'https://github.com/login/oauth/authorize'
    token_url: 'https://github.com/login/oauth/access_token'
    profile_url: 'https://api.github.com/user'

    groupSearch:
      url: 'https://api.github.com/repos/<USER>/<REPO>/collaborators/{user}/permission'
      token: '<token>'
      group_map:
        admin: "admin"
        read: "user"

  ldap:
    url: "ldap://127.0.0.1:389"
    bindDN: "cn=admin,dc=example,dc=org"
    bindPW: <password>

    userSearch:
      baseDN: "ou=people,dc=example,dc=org"
      filter: "(objectclass=inetOrgPerson)"
      user_map:
        username: "mail"
        email: "mail"

    groupSearch:                                                            
      baseDN: "ou=groups,dc=example,dc=org"
      filter: "(objectClass=groupOfNames)"
      group_map:
        admins: "admin"
        developers: "user"

chat_only: user

roles:
  user:
    (.*)/projectset/?$:
      - all
    (.*)/projectset/edit/:
      - annotations
      - labels
      - namespace
      - template
    (.*)/projectset/delete/:
      - all
    (.*)/projectset/create/?$:
      - annotations
      - labels
      - namespace
      - template
    (.*)/projectsettemplate/?$:
      - all
    (.*)/repo/?$:
      - all
    (.*)/logout/?$:
      - all
    (.*)/chat/?$:
      - all
    (.*)/chat/data:
      - all

  admin:
    (.*)/projectset/?$:
      - all
    (.*)/projectset/edit/:
      - all
    (.*)/projectset/delete/:
      - all
    (.*)/projectset/create/?$:
      - all
    (.*)/repo/?$:
      - all
    (.*)/logout/?$:
      - all
    (.*)/repo/?$:
      - all
    (.*)/logout/?$:
      - all
    (.*)/projectsettemplate/?$:
      - all
    (.*)/projectsettemplate/edit/:
      - all
    (.*)/projectsettemplate/delete/:
      - all
    (.*)/projectsettemplate/create/?$:
      - all
    (.*)/chat/?$:
      - all
    (.*)/chat/data:
      - all
