<form id="ModalForm" name="stepForm" class="form" method="post">
    <div class="modal-header">
        <h4 class="modal-title">ProjectSet Template CRD</h4>
    </div>
    <div class="modal-body">
        <h6>Example Template CRD</h6>
        <i>Create a ProjectSet Template</i>
        <div class="mb-3 ">
        <textarea class="form-control" rows="1" disabled readonly>
apiVersion: project.migrx.io/v1alpha1
kind: ProjectSetTemplate
metadata:
  annotations:
    app.kubernetes.io/name: projectsettemplate
  name: devteam-template
spec:
  labels:
    app: frontend
    stage: dev

  annotations:
    app.kubernetes.io/name: dev-app
    app.kubernetes.io/lang: golang

  resourceQuota:
    hard:
      requests.cpu: "2"
      requests.memory: 3Gi
      limits.cpu: "4"
      limits.memory: 6Gi

  limitRange:
    limits:
      - default:
          cpu: 500m
          memory: "50Mi"
        defaultRequest:
          cpu: 500m
          memory: "50Mi"
        max:
          cpu: "1"
          memory: "4Gi"
        min:
          cpu: 100m
          memory: "50Mi"
        type: Container

  roles:
    developer:
      - apiGroups:
          - ""
        resources:
          - configmaps
          - pods
        verbs: ["*"]
    admin:
      - apiGroups:
          - ""
          - apps
        resources:
          - configmaps
          - deployments
          - events
          - secrets
          - serviceaccounts
        verbs: ["*"]

  roleBindings:
    admin:
      - kind: "Group"
        name: "admin"
    developer:
      - kind: "Group"
        name: "developer"

  networkPolicy:
    allow-dns:
      podSelector:
        matchLabels: {}
      policyTypes:
      - Egress
      egress:
      - to:
        - namespaceSelector:
            matchLabels:
              name: kube-system
        ports:
        - protocol: UDP
          port: 53
    deny-egress:
      podSelector:
        matchLabels: {}
      policyTypes:
        - Egress
    deny-ingress:
      podSelector:
        matchLabels: {}
      policyTypes:
        - Egress
        </textarea>
        </div>

        <hr>
        <h6>Repository</h6>
        <select name="repo" id="repo" class="form-select">
             {% for i in envs %}
                <option value="{{ i.url }}">{{ i.url }}</option>
             {% endfor %}
        </select>

        <h6>Enviroment</h6>
        <select name="env" id="env" class="form-select">
             {% for i in envs %}
                <option value="{{ i.name }}">{{ i.name }}</option>
             {% endfor %}
        </select>

        <h6>Copy example, modify and save</h6>
        <div class="mb-3">
            <textarea class="form-control" name="data" rows="8">{{ data }}</textarea>
        </div>
    </div>

    <div id="modal-error-text" class="modal-body" style="color: red;"></div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="submit" type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
